/*Fontes*/

@font-face
{
    font-family: Courgette;
    src: url('../fonts/Courgette-Regular.ttf');
}


@font-face
{
    font-family: sacramento;
    src: url('../fonts/Sacramento-Regular.ttf');
}


@font-face
{
    font-family: dacing;
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}


@font-face
{
    font-family: varela;
    src: url('../fonts/VarelaRound-Regular.ttf');
}



/*Navbar*/



.navbar{
	width: 100%;
	position: fixed;
	top:0px;
	text-align: center;
	transition: .5s;
    background-color: transparent !important;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 50px;
	color: white;
	font-size: 24px;
	font-family: sans-serif;
	cursor: pointer;
	border-radius: 10px;
}	

.bg-dark.scrolled {
    background: #000 !important;
}

.btn-lista{
    background-color:coral ;
    font-family: varela;
    text-align: justify;
    color: black;
    
}


.fundo {

    background-image: url(../images/Home.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-site{
    background-image: url(../images/Home.JPG);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    perspective: 2px;
    height: 600px;
    width: auto;
}


.header-site-2{
    background-image: url(../images/segunda.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    perspective: 2px;
    height: 700px;
    width: auto;
}

.header-site-3{
    background-image: url(../images/presente.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    perspective: 2px;
    height: 700px;
    width: auto;
}

.texto {
    padding-top: 30px ;
    font-size: 20px;
    font-family: varela;
    text-align: justify;
    color: black;
    
}

.texto-titulo {
    padding-top: 80px ;
    padding-bottom: 30px ;
    font-size: 80px;
    font-weight:500;
    font-family:dacing;
    text-align: center;
    color: black;
    
}


/*CountDown*/

.timer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1000px;
    height: 370px;
    margin:auto;
    padding: 20px;
    box-sizing: border-box;
}

.timer .flipdown{
    margin: auto;
    text-align: center;
}

.timer h1{
    text-align: center;
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
    font-family: dacing;

}

.timer h4{
    text-align: center;
    font-size: 40px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: dacing;
    margin-top: 20px;
    
}



/*Rodapé*/

.texto-rodape {
    padding: 30px;
    font-size: 15px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    font-family: varela;
    text-align: center;
    color: white;
    
}

.rodape {
   background-color: black;
}


/*Responsividade*/






@media screen and (max-width: 576px) {
    .header-site{
        background-image: url(../images/presente.jpeg);
        background-position: center ;
        background-repeat: no-repeat;
        background-size: contain;
        perspective: 2px;
        height: 500px;
        width: auto;
        background-attachment: scroll;
    }
    
    
    .header-site-2{
        background-image: url(../images/alianca.JPG);
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        perspective: 2px;
        height: 400px;
        width: auto;
    }



    .timer{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 800px;
        height: 300px;
        margin:auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .timer .flipdown{
        margin: auto;
        text-align: center;
    }
    
    .timer h1{
        text-align: center;
        font-size: 60px;
        color: black;
        margin-bottom: 20px;
        font-family: dacing;
    
    }
    
    .timer h4{
        text-align: center;
        font-size: 35px;
        color: black;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: dacing;
        margin-top: 20px;
        
    }

.navbar{
	width: 100%;
	position: fixed;
	top:0px;
	text-align: left;
	transition: .5s;
}

.texto {
    padding-top: 45px ;
    font-size: 18px;
    font-family: varela;
    text-align:justify;
    color: black;
    
}

.texto-titulo {
    padding-top: 50px ;
    padding-bottom: 25px ;
    font-size: 60px;
    font-weight:500;
    font-family:dacing;
    text-align: center;
    color: black;
    
}


.formulario-recados{
    background: white; 
    padding: 5px;
}

.formulario-alinhamento-esquerda-mobile{
    text-align: initial !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


    
 
 }





.container img {
    max-width:1000px;
    max-height:1200px;
    width: auto;
    height: auto;

}


.recado-campos{

    outline-width: 0ch;
    width: 100%;
    background-color:#e9ecef;
    border: thick;
    padding: 8px;

}

.botao-publicar{
    background-color:slategrey;
    border: thick;
    border-radius: 10%;
    font-family:varela;
    width: 120px;
    height: 40px;
    color: snow;
    font-size: 20px;
    
}


.formulario-recados{
    background: white; 
    padding: 50px;
}


.formulario-alinhamento-esquerda{
    text-align: initial;
    margin-left: 25%;
    margin-right: 25%;
}


.formulario-alinhamento-direita{
    text-align:right;
    margin-left: 25%;
    margin-right: 25%;
}


.recados-publicados {
    font-family: varela;
}




/*Animação*/
























































.fonte-titulo
 {
   font-size: 17px;
   font-weight: bold;
   color: white;

 }



p {
  margin: 0 0 3px;
}

.input-itens {
  width: 90% !important;
  height: 40px !important;
  border: none;
  text-align: center !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;
}


.preco-total-item {
  width: 90% !important;
  height: 40px !important;
  border: none;
  text-align: center !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;

}

input.preco-total-item:disabled {color:rgba(239, 239, 239, 0.3);}

.valores-barra {
  width: 100% !important;
  height: 40px !important;
  border: none;
  text-align: center !important;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
}


.input-quantidade{
  text-align: center !important;
  font-size: 20px!important;
  font-weight: bold;
}

.div-imagem{
  background-color: white;
  height: 150px;
  text-align: center;
}

.imagem{
  height: 150px;
}


.input-data{
  margin-top: 3px;
  margin-left: -1px;
  height: 40px;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}


.botoes-barra {
  float: right;
}

.icone-sistema{
  float: right;
  width: 25px;
  height: 25px;
  margin-top: 6px;
}

.posicao-botoes{
  width: 45px;
  float: right;
}


@media (min-width: 768px) {
  .abrir {
    position:absolute;
    bottom:0;
    width: 68.4%;
    left: 5px;
  }

  .alinhar-blocos{
    width: 100%  !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }


  .fixar-top-desktop{
    position: fixed;
    top: 0;
    width: 64.19%;
    height: 50px;
    z-index: 5;
    right: 25px;
  }

  .fonte-titulo-barra
  {
    font-size: 17px;
    font-weight: bold;
    color: white;
  }

  .botao-obs-desktop{
    padding: 0px 0px !important;
  }

  .espacamento-item{
    width: 3%;
  }

  .total{
    width: 94%;
    margin: auto;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
  }


  .div-unidade{
    margin-top: 17px;
    left: -15px;
  }


  .input-quantidadeConvertida{
    text-align: center !important;
    font-size: 20px;
    font-weight: bold;
    border: none!important;
    width: 100% !important;
    margin-left: 15px;
  }

  .alinhar-qtd{
    margin-top: 65px;
  }

  .botao-obs{
    height: 80px;
    display: inline-grid;
    width: 40px;
    right: -130px;
  }

}

@media (max-width: 767px){
  .abrir {
    width: 100%;
    position:absolute;
    bottom:0;
  }

  .card-mobile{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }



  .total{
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    left: 0;

  }

  .div-unidade{
    margin-top: 20px;
    left: -8px;
  }


  .fonte-titulo-barra
 {
   font-size: 15px;
   font-weight: bold;
   color: white;

 }

 .input-quantidadeConvertida{
  text-align: center !important;
  font-size: 20px;
  font-weight: bold;
  border: none!important;
  width: 100% !important;
  margin-left: 16px;
}

.botao-obs{
  height: 80px;
  display: inline-grid;
}

}



.fixar {
  position:fixed;
  top:0;
}


.fixar-top{
    position:fixed;
    top: 0;
    margin-top: 50px;
    width: 103%;
    height: 50px;
    z-index: 5;
    left: 0;
}

.suspender-barra{
  bottom: 40px !important;
}

.titulo-total{
  font-size: 5px;
}

.texto-destaque{
  font-weight: bold;
  font-size: 17px;
}

.texto-descricao{
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  border: none;
  resize: none;
  background-color: white;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;
  background: white;
}

.texto-endereço{
  margin-bottom: -12px;
  font-size: 15px;
  width: 100%;
  border: none;
  resize: none;
  background-color: white;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;
  background: white;
}


.texto-marca{
  font-size: 13px;
  width: 100%;
  border: none;
  resize: none;
  background-color: white;

  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  opacity: 1;
  background: white;
}

.texto-estoque{
  font-size: 13px;
}

.texto-preco-total{
  font-weight: bold;

}

.texto-vermelho {
  color: red;
}

.texto-laranja{
  color: rgb(245, 118, 71);
}

.texto-verde{
  color:green;
}

.texto-lote{
  font-size: 15px;
  font-weight: bold;
  color: royalblue;
}



.texto-qtdCaixa{
  font-size: 11px;
  color: royalblue;
  font-weight: bold;

}

.texto-remover{
  color:gray;
  text-decoration-line: underline;
  font-size: 13px;
  border: none;
  background-color: white;
}


/* Remover setas do input no Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remover setas do input no Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.titulo-input{
  position:relative;
  margin-right:-20px
}

.card .row {
  padding: 5px;
}

.input-group .form-control
{
  z-index: 0 !important;

}

.input-group-btn:last-child>.btn {
  z-index: 0 !important;
}

.jumbo{
  height: 50px;
  border-radius: 5px;
}

.jumbo-total{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin-bottom: 3px !important;
  width: 100% !important;
  border-radius: 5px !important;
  margin-right: 0 !important;
  margin-left: 0 !important;

}

.box-editando{
  background-color: #800080 !important;
  padding: 5px  !important;
  border-radius: 3px;
}

.box-enviado{
  background-color: #00A65A !important;
  padding: 5px  !important;
  border-radius: 3px;
}

.box-emProcessamento{
  background-color: #964b00 !important;
  padding: 5px  !important;
  border-radius: 3px;
}

.box-fechado{
  background-color: #3C8DBC !important;
  padding: 5px  !important;
  border-radius: 3px;
}

.box-cancelado{
  background-color: #CC0000 !important;
  padding: 5px  !important;
  border-radius: 3px;
}

.box-editando-total{
  background-color: #800080 !important;
  border-radius: 3px;
}

.box-enviado-total{
  background-color: #00A65A !important;
  border-radius: 3px;
}

.box-emProcessamento-total{
  background-color: #964b00 !important;
  border-radius: 3px;
}

.box-fechado-total{
  background-color: #3C8DBC !important;
  border-radius: 3px;
}

.box-cancelado-total{
  background-color: #CC0000 !important;
  border-radius: 3px;
}


.borda-editando{
  border-top-color:#800080 !important;
  }

.borda-enviado{
  border-top-color: #00A65A !important;
}

.borda-emProcessamento{
  border-top-color: #964b00 !important;
}

.borda-fechado{
  border-top-color: #3C8DBC !important;
}

.borda-cancelado{
  border-top-color: #CC0000 !important;
}


.btn-voltar{
  margin-top: 2px;
}

.fa-plus:before {
  content: "\f067";
  color: white !important;
}
.fa-minus:before {
  content: "\f068";
  color: white !important;
}

.box-total{
  background-color: white;
  font-size: 10px;
  border-color: red;
  margin-bottom: 0;
}

.input-total {
  width: 100% !important;
  height: 40px !important;
  border: none;
  text-align: center !important;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.select-form{
  text-align-last: center;
  border-radius: 5px !important;
  height: 40px !important;
}

.labelTotal{
  font-weight: bold;
  font-size: 25px;
}

.btn-box-tool{
  color: white !important;
}
.btn.focus{
  color: white !important;
}


.cliente {
  width: -webkit-fill-available;
  text-align-last: left;
  background-color: white;
	}

  .box-obs {

    width: 100%;
    border: none;
    resize: none;
    background-color: white;
    border: none;
  }

  textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}








